<p>Byla tak ta koruna papírová, okrouhlá, vysoká bezmála na loket a na ni byli namalováni tři strašní ďáblové, kterak chtějí duši drápy mezi sebou tahati a držeti. A na té koruně byl napsán nápis jeho viny: „Tento jest arcikacíř.“ Tehdy pravil král vévodovi Ludvíkovi, synu kdysi Klemovu z Bavorska, který tehdy stoje před ním ve své nádheře, držel v rukou zlaté jablko s křížem: „Jdi, vezmi ho!“ A Klemův syn již řečený, vzav mistra, dal ho do rukou biřiců a dovedl na smrt.<br>
...<br>
Dříve však, než by ho podpálili, přijel k němu říšský maršálek Hoppe z Pappenheimu a syn kdysi Klema, jak se mu říkalo, vybízeje ho, , aby ještě zachoval život bez úrazu a aby to, to, co kdysi kázal, a svoje slova odpřisáhl a odvolal: A on, pohlédnuv k nebi, vysokým hlasem odpověděl: „Bůh mi jest svědek, že jsem to, co se mi falešně připisuje a skrze falešné svědky přičítá, nikdy neučinil, ani nekázal, ale předním úmyslem mého kázání a všech jiných mých skutků nebo písem bylo, abych jen mohl lidi zachrániti od hříchů. V té pak pravdě evangelia, kterou jsem psal, učil a kázal ze slov a výkladů svatých doktorů, dnes vesele chci umříti.“ A uslyševše to, ihned řečený maršálek se synem Klémovým, tlesknuvše rukama, odjeli. <br>
A jeho hned biřici zapálili a mistr hned vysokým hlasem zazpíval nejprve: „Kriste, synu Boha živého, smiluj se nad námi.“; a po druhé: „Kriste, synu Boha živého, smiluj se nade mnou“; po třetí“ Jenž jsi se narodil z Marie Panny.“ A když po třetí začal zpívati, hned mu vehnal vítr plamen do tváře, a tak sám v sobě se modle, pohybuje rty a hlavou, vypustil duši v Pánu. Ve chvíli mlčení bylo viděti, že se hýbe, dříve než vydechl, tak dlouho, zakdy bys rychle mohl odříkati dva nebo nejvíce tři otčenáše.
</p>
